<!--Folder Path : DjangoCourse\mac\shop\templates\shop\about.html-->

{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Cart!</h1>
      <p>My Awesome Cart Pvt Ltd. is an Indian electronic commerce company based in Bengaluru, India. Founded by Sachin Bansal and Binny Bansal in 2007, the company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.

The service competes primarily with Amazon' s Indian subsidiary, and the domestic rival Snapdeal.[5][6] as of March 2017, Flipkart held a 39.5% market share of India's e-commerce industry.[7] Flipkart is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions of Myntra and Jabong.com), and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[8] Flipkart also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI).

In August 2018, U.S.-based retail chain Walmart acquired a 77% controlling stake in Flipkart for US$16 billion, valuing it at $22 billion.</p>
      <p><a class="btn btn-success btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

 <!--  Container block start here -->
  <div class="container">
    <!-- Example row of columns -->

 <!--  Row div start here  -->
    <div class="row">

  <!-- Column 1 start here -->
      <div class="col-md-4">
        <h2>Cancel items for parcel from online shopping before delivery to the customers.</h2>
        <p>Users can cancel the items once the users received the parcel from online shopping if the items received are not according to satisfication for the users </p>
        <p><a class="btn btn-danger" href="#" role="button">View details &raquo;</a></p>
      </div>
      <!-- Column 1 ends here -->

     <!-- Column 2 start here-->
      <div class="col-md-4">
        <h2>Removing items from the cart when ordered the parcel from online shopping.</h2>
        <p>Users can also remove the items from the cart whether he want that parcel or not. </p>
        <p><a class="btn btn-danger" href="#" role="button">View details &raquo;</a></p>
      </div>
      <!-- Column 2 ends here -->

     <!-- Column 3 start here -->
      <div class="col-md-4">
        <h2>Receving orders from Online shopping.</h2>
        <p>When ordered items from online shopping website then parcel is received to the customers.</p>
        <p><a class="btn btn-danger" href="#" role="button">View details &raquo;</a></p>
      </div>
     <!-- Column 3 ends here-->

    <!-- Column 4 start here  -->
       <div class="col-md-4">
        <h2>Buying items from Online shopping.</h2>
        <p>Users can also buy items from online shopping.</p>
        <p><a class="btn btn-danger" href="#" role="button">View details &raquo;</a></p>
      </div>
    <!-- Column 4 ends here   -->

    <!-- Column 5 start here  -->
      <div class="col-md-4">
        <h2>Adding address for receiving parcel to the customer.</h2>
        <p>After successfully ordered items from online shopping then items will be delivery to the customers at the given address.</p>
        <p><a class="btn btn-danger" href="#" role="button">View details &raquo;</a></p>
      </div>
    <!-- Column 5 ends here  -->

     <!-- Column 6 start here -->
        <div class="col-md-4">
        <h2>Customer will be happy with the ordered items.</h2>
        <p>After receiving parcel from online shopping customer will be happy with the recevied parcel.</p>
        <p><a class="btn btn-danger" href="#" role="button">View details &raquo;</a></p>
      </div>
      <!-- Column 6 ends here -->

    </div>
 <!-- Row div ends here   -->

    <hr>

  </div>
 <!--Container block ends here -->

</main>





{% endblock %}
